*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: lightgreen;
}
.container{
    width: 500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    margin-top: 150px;
}
h1{
    text-align: center;
    font-size: 28px;
    color: lightgreen;
}
input{
    width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 8px;
}
.email{
    margin-top: 30px;
}
.passworld{
    margin-top: 30px;
}
button{
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    background-color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;

}
button a{
    color: white;
    text-decoration: none;
}
